<div id="comments-list">
    {{#commentDtos}}
        <!-- Dtos가 여러개면 반복해라 -->
        <div class="card" id="comments-{{id}}"><!-- Dtos안에 코멘트DTO값이 삽입이 됨. -->
            <div class="card-header"></div><!-- 부트스트랩 권장 구조 -->

            <div class="card-body"></div>
        </div>


    {{/commentDtos}}
</div>