<div id="comments-list"><!-- 부트스트랩 권장 구조 -->
    {{#commentDtos}}<!-- 백 컨트롤러쪽 model에서 지정한 이름 -->
        <!-- Dtos가 여러개면 반복해라 -->
        <div class="card text-white bg-dark card m-2" id="comments-{{id}}"><!-- Dtos안에 코멘트DTO값이 삽입이 됨. -->
            <div class="card-header">
                {{nickname}}
                <!--
                모달 트리거 버튼
                -bs-넣으면 고장남.
                 data-target="#클릭시여줄대상id"
                 data-id / nick / body / article-id "{}" : {commentDtos}에서 가져옴.
                 -->
                <button type="button"
                        class="btn btn-sm btn-outline btn-primary"
                        data-toggle="modal"
                        data-target="#comment-edit-modal"
                        data-id="{{id}}"
                        data-nickname="{{nickname}}"
                        data-body="{{body}}"
                        data-article-id="{{articleId}}"
                >수정
                </button>
                <!-- 이 data-bs-oxoxox 속성: 부트스트랩 속성임. -->
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>



<!-- Modal -->
<div class="modal fade" id="comment-edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 댓글 수정 폼-->
                <form>
                    <!-- 닉네임 입력 -->
                    <div class="mb-3">
                        <label class="form-label">닉네임</label>
                        <input type="text" class="form-control form-control-sm" id="edit-comment-nickname">
                    </div>
                    <!-- 댓글 본문 입력 -->
                    <div class="mb-3">
                        <label class="form-label">댓글 내용</label>
                        <textarea type="text" class="form-control form-control-sm" rows="3" id="edit-comment-body"></textarea>
                    </div>
                    <!-- 히든 인풋 -->
                    <input type="hidden" id="edit-comment-id">      <!--이쪽에 데이터가 들어가야만 함 -->
                    <input type="hidden" id="edit-comment-article-id" >
                    <!-- 전송 버튼 -->
                    <button type="button" class="btn btn-outline-primary btn-sm" id="comment-update-btn">수정 완료</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- 모달 이벤트 처리 -->



<Script>
    //12:00보는중.

    {
        // 모달 요소 선택 - 모달창 전체외부껍데기 id 가져오기
        const commentEditModal = document.querySelector("#comment-edit-modal");
        // 모달 이벤트 감지 - show.bs.modal이란 이벤트 발생시 펑션작동.
        console.log("A2");
        commentEditModal.addEventListener("show.bs.modal", function(event) {
            // 트리거 버튼 선택
            console.log("A3");
            const triggerBtn = event.relatedTarget;
            console.log("A1");
            // 데이터 가져오기
            const id = triggerBtn.getAttribute("data-id");
            const nickname = triggerBtn.getAttribute("data-nickname");
            const body = triggerBtn.getAttribute("data-body");
            const articleId = triggerBtn.getAttribute("data-article-id");
            //console.log(`${id}, ${nickname}, ${body}, ${articleId}`);
            // 데이터를 반영
            document.querySelector("#edit-comment-nickname").value = nickname;
            document.querySelector("#edit-comment-body").value = body;
            document.querySelector("#edit-comment-id").value = id;
            document.querySelector("#edit-comment-article-id").value = articleId;
        });
    }

    {
        // 수정 완료 버튼
        const commentUpdateBtn = document.querySelector("#comment-update-btn");
        // 클릭 이벤트 처리
        commentUpdateBtn.addEventListener("click", function() {
            // 수정 댓글 객체 생성
            const comment = {
                id: document.querySelector("#edit-comment-id").value,
                nickname: document.querySelector("#edit-comment-nickname").value,
                body: document.querySelector("#edit-comment-body").value,
                article_id: document.querySelector("#edit-comment-article-id").value
            };
            console.log(comment);
            // 수정 REST API 호출 - fetch()
            const url = "/api/comments/" + comment.id;
            fetch(url, {
                method: "PATCH",
                body: JSON.stringify(comment),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                // http 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "댓글이 수정 되었습니다." : "댓글 수정 실패..!";
                console.log(msg);
                //alert(msg);
                // 현재 페이지를 새로고침
                //window.location.reload();
            });
        });
    }
</script>
