{{>layouts/header}}

<h3>흠</h3>
<form method="post" action="/articles/create">  <!-- action: 어디로보낼지...-->
    <label>
        <input name="title">    <!-- 보낼데이터 1 : dto와 동일 -->
    </label>
    <label>
        <textarea name="content"></textarea> <!-- 보낼데이터 2 : dto와 동일  -->

    </label>
    <button type="submit" style="padding: 20px"></button>
</form>


{{>layouts/footer}}