{{>layouts/header}}


<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENT</th>
    </tr>
    </thead>
    {{#article}}    <!-- #으로 해서 /로 끝나는 범위안에 데이터바인딩 -->
    <tbody>
    <tr>
        <td>{{id}}</td>
        <td><a href="/article/{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    </tbody>
    {{/article}}

</table>

<a href="/articles/{{article.id}}/delete"> Del </a>
<a href="/articles/{{article.id}}/edit"> Edit </a>
<a href="/articles"> List </a>


{{>comments/_comments}}


{{>layouts/footer}}